*{
    margin:0;
    padding:0;
   
  }
  body {
    background-color:orange;
    width:32vw;
    height: auto;
   
  }
  div {
    margin:90px;
    background-color:black;
    justify-content:space-between;
    align-items:center;
    border-radius:12px;
    
  }
  form input {
    color:#000;
    background-color:#fff;
    align-content:center;
    padding:8px 16px;
    margin:18px 1px 5px 10px;
    width:80%;
    border-radius:12px;
    height:40px;
    font-size:20px;
    text-align:right;
    font-weight:bolder;
    
    
  }
  
  .clear-button {
    width:89%;
    background-color:red;
    color:white;
    font-weight:bold;
    font-size:18px;
    margin-left:14px;
    
  }
  
  button {
    padding:11px;
    border-radius:12px;
    width:20%;
    margin:4px 2px 4px 8px;
   
  }